:root{
    --cor0: #000000;
    --cor1: #1a1a1ae5;
    --cor2: #1a1a1aee;
    --cor3: #00000062;
    --cor4: #4938ffd7;
    --cor5: #8b80f9;
    --cor6: #fff;
    --cor7: #f5eeee4d;
  }
  nav{
    margin: 0px;
    padding: 30px 0px 5px 0px ;
    background-color: var(--cor3);
    border-radius: 0px 0px 10px 10px ;
    text-align: center;
}
nav > a{
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--cor4);

}
nav >a:hover{
    color: var(--cor4);
    box-shadow: 0px 1px 0px 0px var(--cor4);
}
main{
    height: 100%;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%; 
}
main > h2{
    padding: 5px;
    text-align: left;
    font-size: 18px;
    color: var(--cor7);
}
main > .quadro{
    padding: 10px;
    border-radius: 3px;
    background-color: var(--cor6);
    display: flex;
    justify-content: center;
    box-shadow:  0px 0px 13px 5px var(--cor3);
}
.postagem{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--cor7);
}
