@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root{
  --cor0: #000000;
  --cor1: #1a1a1ae5;
  --cor2: #1a1a1aee;
  --cor3: #00000062;
  --cor4: #4938ffd7;
  --cor5: #8b80f9;
  --cor6: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--cor2) ;
  background-attachment: fixed;
}
nav{
  margin: 0px;
  padding: 30px 0px 5px 0px ;
  background-color: var(--cor3);
  border-radius: 0px 0px 10px 10px ;
  text-align: center;
}
nav > a{
  padding: 1px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: var(--cor4);

}
.select:hover{
  color: var(--cor6);
  box-shadow: 0px 1px 0px 0px var(--cor6);
}
.selecionado{
  box-shadow: 0px 1px 0px 0px var(--cor4);
}
.icon{
  width: 30px;
  height: 30px;
}
button{
  margin-left: 20px;
  margin-right: 20px;
  background: none;
    border: none;
    cursor: pointer;
}
footer{
  margin: 0px;
  padding: 0px ;
  background-color: var(--cor3);
  border-radius: 10px 0px 0px 0px ;
  text-align: center;
  color: white;
}