@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root{
  --cor0: #000000;
  --cor1: #1a1a1ae5;
  --cor2: #1a1a1aee;
  --cor3: #00000062;
  --cor4: #4938ffd7;
  --cor5: #8b80f9;
  --cor6: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  background: linear-gradient(var(--cor4),var(--cor6) ) ;
  background-attachment: fixed;
}

.caixa__login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(44, 38, 114, 0.212);
  border-radius: 10px;
}

.caixa__login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.caixa__login .caixa__login-input {
  position: relative;
}

.caixa__login .caixa__login-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid var(--cor3);
  outline: none;
  background: transparent;
}
.caixa__login .caixa__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.caixa__login .caixa__login-input input:focus ~ label,
.caixa__login .caixa__login-input input:valid ~ label {
  top: -20px;
  left: 20;
  color: var(--cor4);
  font-size: 12px;
}

.caixa__login form .acessar {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 30px 30% 10px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  background: var(--cor5);
  box-shadow:  0px 0px 13px 1px var(--cor4);
}

.caixa__login .acessar:hover {
  background: white;
  color: var(--cor4);
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,0 0 100px #8b80f9;
}

.recupera{
  color: black;
  text-decoration: none;
  font-size: 10px;
  position: absolute;
  top: 58%;
  left: 70%;
}
.caixa__login .recupera:hover {
  color: #acacf3d7;
}
p{
  color: black;
  font-size: 10px;
  padding: 5px;
}
p > a{
  color: rgb(128, 128, 255);
  text-decoration: none;
}

.caixa__login form .cadastrar {
  display: inline-block;
  padding: 10px 20px;
  color: #8b80f9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 30px 25% 10px;
  letter-spacing: 4px;
  border-radius: 5px;
  background: #1a1a1aee;
  box-shadow:  0px 0px 13px 1px var(--cor3);
}

.caixa__login .cadastrar:hover {
  background: #8b80f9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,0 0 100px #8b80f9;
}
.texto{
  position: absolute;
  top: 20%;

}@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root{
  --cor0: #000000;
  --cor1: #1a1a1ae5;
  --cor2: #1a1a1aee;
  --cor3: #00000062;
  --cor4: #4938ffd7;
  --cor5: #8b80f9;
  --cor6: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  background: linear-gradient(var(--cor4),var(--cor6) ) ;
  background-attachment: fixed;
}

.caixa__login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(44, 38, 114, 0.212);
  border-radius: 10px;
}

.caixa__login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.caixa__login .caixa__login-input {
  position: relative;
}

.caixa__login .caixa__login-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid var(--cor3);
  outline: none;
  background: transparent;
}
.caixa__login .caixa__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.caixa__login .caixa__login-input input:focus ~ label,
.caixa__login .caixa__login-input input:valid ~ label {
  top: -20px;
  left: 20;
  color: var(--cor4);
  font-size: 12px;
}

.caixa__login form .acessar {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 30px 30% 10px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  background: var(--cor5);
  box-shadow:  0px 0px 13px 1px var(--cor4);
}

.caixa__login .acessar:hover {
  background: white;
  color: var(--cor4);
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,0 0 100px #8b80f9;
}

.recupera{
  color: black;
  text-decoration: none;
  font-size: 10px;
  position: absolute;
  top: 58%;
  left: 70%;
}
.caixa__login .recupera:hover {
  color: #acacf3d7;
}
p{
  color: black;
  font-size: 10px;
  padding: 5px;
}
p > a{
  color: rgb(128, 128, 255);
  text-decoration: none;
}

.caixa__login form .cadastrar {
  display: inline-block;
  padding: 10px 20px;
  color: #8b80f9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 30px 25% 10px;
  letter-spacing: 4px;
  border-radius: 5px;
  background: #1a1a1aee;
  box-shadow:  0px 0px 13px 1px var(--cor3);
}

.caixa__login .cadastrar:hover {
  background: #8b80f9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,0 0 100px #8b80f9;
}
.texto{
  position: absolute;
  top: 20%;
  
}
