:root {
  --cor0: #000000;
  --cor1: #1a1a1ae5;
  --cor2: #1a1a1aee;
  --cor3: #00000062;
  --cor4: #4938ffd7;
  --cor5: #8b80f9;
  --cor6: #fff;
  --cor7: #f5eeee4d;
  --cor8: #8a80f91c;
  --cor9: #0d0d0d;
  --cor10: #030303;
  --cor11: #120E40;
  --cor12: #241C80;
  --cor14: #372ABF;
  --cor15: #4132E6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  color: var(--cor4);
}

nav {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: end;
  position: fixed;
  top: 0;
}

.logo {
  width: 90px;
  height: 84px;
  top: 4px;
  left: 20px;
  position: absolute;

}

a {
  text-decoration: none;
  color: var(--cor4);
}

.barlink {
  font-size: 12px;
  margin-right: 5%;
  padding-bottom: 4px;
}

.barlink:hover {
  box-shadow: 0px 1px 0px 0px var(--cor5);
}

.login {
  font-size: 12px;
  margin-right: 5%;
  padding: 5px;
}

.login:hover {
  padding: 5px;
  border-radius: 5px;
  color: var(--cor6);
  background: var(--cor5);
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9, 0 0 100px
}

.cadastro {
  margin-left: 96px;
  padding: 5px;
  color: #8b80f9;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border-radius: 4px;
  border: none;
  background: var(--cor6);
  box-shadow: 0px 0px 13px 1px var(--cor5);
  width: auto;
}

.cadastro:hover {
  background: #8b80f9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9, 0 0 100px #8b80f9;
}

.cadativo {
  margin-left: 98px;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  background: var(--cor5);
  box-shadow: 0 0 5px var(--cor6), 0 0 25px var(--cor6), 0 0 50px var(--cor6), 0 0 100px var(--cor6);
}

.escolhas {
  margin-top: 0px;
  padding: 10px;
  margin-right: 50%;
  margin-left: 96px;
  display: flex;
  gap: 10px;
  justify-content: left;
  width: 270px;
  height: 30px;
}

.escolha {
  margin-right: 5px;
  padding: 5px;
  color: #8b80f9;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border-radius: 4px;
  border: none;
  background: var(--cor6);
  box-shadow: 0px 0px 13px 1px var(--cor5);
  width: auto;
  animation: time 1s forwards;
}

.escolha:hover {
  border-radius: 5px;
  color: #fff;
  border: none;
  background: var(--cor5);
  box-shadow: 0 0 5px var(--cor6), 0 0 25px var(--cor6), 0 0 50px var(--cor6), 0 0 100px var(--cor6);
}

@keyframes time {
  0% {
    width: 0px;
  }

  100% {
    width: 150px;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateX(1px);
    opacity: 1;
  }
}

.header {
  margin-top: 40px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  height: auto;
  width: 100%;

  padding-bottom: 2%;
}

.header > h1 {
  text-transform: uppercase;
  overflow: hidden;
  color: var(--cor4);
  font-size: 40px;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 40%;
  border-radius: 10px;
<<<<<<< HEAD
  margin-left: 100px
=======
>>>>>>> 93a4da719010124345e27421a8cd9274d348e63e
}

.header>p {
  margin-right: 50%;
  margin-left: 10px;
  border-radius: 10px;
  margin-left: 100px
}

.banner {
  width: 35%;
  height: 0px;
  border-top: 1000px solid blue;
  border-left: 100px solid transparent;
  border-radius: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
}
.image{
  width: 200px;
  height: 200px;
  top: 150px;
  right: 40px;
  position: absolute;
  background-image: url("../imagens/banner_lupa.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.site_sobre {
  background-color: #00000056;
  padding: 20px;
  height: auto;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

h2 {
  text-align: end;
  font-size: 30px;
  margin-top: 10px;
  color: var(--cor0);
}

h3 {
  padding: 20px 30px 30px 30px;
  font-size: 28px;
  color: #c3c3ff;
}

h4 {
  padding: 10px;
  margin-bottom: 20px;
  color: var(--cor11);
}

h5 {
  padding: 10px;
  margin-bottom: 20px;
  color: var(--cor6);
  font-size: 20px;
  margin-top: 100px;
}

h6 {
  padding: 20px 30px 30px 30px;
  font-size: 28px;
  color: #c3c3ff;
}

.informacao {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 100px;
}

.info {
  background-color: #02000e1a;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px var(--cor4);
}

hr {
  box-shadow: 1px 1px 1px 0px var(--cor5);
}

.espaco {
  margin-top: 200px;
}

.sobre {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 100px;
}

.dev {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-bottom: 100px;
}

.devcard {
  background-color: var(--cor3);
  padding: 20px;
  margin: 0 auto;
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

}

footer {
  background-color: var(--cor2);
  padding: 20px;
  font-size: 14px;
  margin-top: 300px;

}

footer>p {
  padding: 5px;
  color: var(--cor7);
}

.a {
  color: var(--cor7);
}

button {
  text-decoration: none;
}

.msgEmpresa {
  padding: 50px;
  position: fixed;
  height: 400px;
  width: 250px;
  top: 420px;
  left: 10px;
  background-color: var(--cor6);
  box-shadow: 0px 1px 1px 1px var(--cor4);
  color: var(--cor0);
  animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.msgEmpresa::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: time 3s forwards;
}

.msgCandidato {
  padding: 50px;
  position: fixed;
  height: 400px;
  width: 250px;
  top: 420px;
  left: 10px;
  background-color: var(--cor6);
  box-shadow: 0px 1px 1px 1px var(--cor4);
  color: var(--cor0);
  animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.msgCandidato::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 5px;
  background-color: #000000;
  animation: time 3s forwards;
}

@keyframes time {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


.elemento{
  position: fixed;
    top: 291px;
    right: 250px;
    background-color: #4132E6;
    width: 250px;
    height: 319px
}
.elemento2{
  position: fixed;
  top: 150px;
  right: -300px;
  background-color: #4132E6;
  width: 800px;
  height: 800px;
  border-radius: 50%;
}
.elemento3{
  position: fixed;
  top: 10px;
  right: -300px;
  background-color: #4132E6;
  width: 800px;
  height: 800px;
  border-radius: 50%;
}
.elemento4{
  position: fixed;
  top: 200px;
  right: -300px;
  background-color: #4132E6;
  width: 800px;
  height: 800px;
  border-radius: 50%;
}
.elemento5{
  position: fixed;
  top: -100px;
  right: -300px;
  background-color: #4132E6;
  width: 800px;
  height: 800px;
  border-radius: 50%;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.caixa__login {
  position: absolute;
  top: 433px;
  right: -140px;
  width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(44, 38, 114, 0.212);
  border-radius: 10px;
}
.caixa__login h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.caixa__login .caixa__login-input {
  position: relative;
}

.caixa__login .caixa__login-input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid var(--cor3);
  outline: none;
  background: transparent;
}
.caixa__login .caixa__login-input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.caixa__login .caixa__login-input input:focus ~ label,
.caixa__login .caixa__login-input input:valid ~ label {
  top: -20px;
  left: 20;
  color: var(--cor4);
  font-size: 12px;
}

.caixa__login form .acessar {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 30px 30% 10px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  background: var(--cor5);
  box-shadow:  0px 0px 13px 1px var(--cor4);
}

.caixa__login .acessar:hover {
  background: white;
  color: var(--cor4);
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,0 0 100px #8b80f9;
}

.recupera{
  color: black;
  text-decoration: none;
  font-size: 10px;
  position: absolute;
  top: 58%;
  left: 70%;
}
.caixa__login .recupera:hover {
  color: #acacf3d7;
}
.caixa__login > p{
  color: black;
  font-size: 10px;
  padding: 5px;
}
.caixa__login > p > a{
  color: rgb(128, 128, 255);
  text-decoration: none;
}

.caixa__login form .cadastrar {
  display: inline-block;
  padding: 10px 20px;
  color: #8b80f9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin: 30px 25% 10px;
  letter-spacing: 4px;
  border-radius: 5px;
  background: #1a1a1aee;
  box-shadow:  0px 0px 13px 1px var(--cor3);
}

.caixa__login .cadastrar:hover {
  background: #8b80f9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,0 0 100px #8b80f9;
}
.texto{
  position: absolute;
  top: 20%;

}