:root{
  --cor0: #000000;
  --cor1: #1a1a1ae5;
  --cor2: #1a1a1aee;
  --cor3: #000000bc;
  --cor4: #4938ffd7;
  --cor5: #8b80f9;
  --cor6: #fff;
  --cor7: #f5eeee4d;
  --cor8: #8a80f91c;
}
main{
  height: 100%;
  width: 75%;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 1%; 
  color: var(--cor0);
}
main > h2{
  padding: 5px;
  padding-left: 10px;
  text-align: left;
  font-size: 18px;
  color: var(--cor3);
}
main > .quadro{
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: var(--cor6);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  box-shadow:  0px 0px 10px 4px var(--cor8);
}
.postagem{
  padding: 15px;
  width: 350px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--cor6);
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px 0px var(--cor4);
}
.txt{
  max-height: 70px;
  overflow-y: hidden;
  font-size: 18px;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.postagem h1{
  font-size: 16px;
  text-align: justify;
  margin-left: 4px;
  color: #323232;
}
.postagem h2{
  font-size: 18px;
  text-align: justify;
  margin: 2px;
  text-transform: uppercase;
}
.data{
  color: #616161;
  font-size: 14px;
}
.notifica{
  display: none;
}

.message{
display: block;
padding: 19px 60px; 
position: absolute;
height: 100%;
width: 400px;
top: 0%;
left: 0%;
background-color: var(--cor6);
box-shadow: 1px 0px 0px 0px var(--cor4);
color: #000000;
animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.message::before{
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0px;
height: 5px;
background-color: rgba(255, 255, 255, 0.5);
animation: time 3s forwards;
}

@keyframes time{
0%{
  width: 0;
}
100%{
  width: 100%;
}
}

@keyframes slidein{
0%{
  transform: translateX(0px);
  opacity: 0;
}
100%{
  transform: translateX(18%);
  opacity: 1;
}
}
.nome-empresa{
  display: flex;
}

.img-perfil{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.greed{
  display: flex;
  flex-direction: column;
}