@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root{
  --cor0: #000000;
  --cor1: #1a1a1ae5;
  --cor2: #1a1a1aee;
  --cor3: #00000062;
  --cor4: #4938ffd7;
  --cor5: #8b80f9;
  --cor6: #fff;
  --cor7: #f5eeee4d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--cor0) ;
  background-attachment: fixed;
  display: flex;
}
nav{
  height: 100%;
  padding: 100px 20px 560px 20px ;
  background-color: var(--cor3);
  text-align: center;
  box-shadow: 1px 0px 0px 0px var(--cor4);
  display: grid;
  position: fixed;
  top: 0;
  margin-right: 100px;
}
nav > a,
nav > button{
  padding: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--cor4);

}
.select:hover{
  color: var(--cor6);
  box-shadow: 0px 1px 0px 0px var(--cor6);
}
.selecionado{
  box-shadow: 0px 1px 0px 0px var(--cor4);
}
.icon{
  width: 30px;
  height: 30px;
}
.icon-notif{
  width: 30px;
  height: 30px;
}
.imgHome{
  width: 30px;
  height: 30px;
}
#logo{
  position: fixed;
  top: 10px;
}
#config{
    position: fixed;
    top: 90%;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.quadro > a{
  text-decoration: none;
  color: var(--cor6);
}
