@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root{
  --cor0: #000000;
  --cor1: #1a1a1ae5;
  --cor2: #1a1a1aee;
  --cor3: #00000062;
  --cor4: #4938ffd7;
  --cor5: #8b80f9;
  --cor6: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--cor2) ;
  background-attachment: fixed;
}