@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
    --cor0: #000000;
    --cor1: #1a1a1ae5;
    --cor2: #1a1a1aee;
    --cor3: #00000062;
    --cor4: #4938ffd7;
    --cor5: #8b80f9;
    --cor6: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(var(--cor4), var(--cor6));
    background-attachment: fixed;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
/* Global Stylings */
label {
  position: absolute;
        top: 0;
        left: 10px;
        padding: 10px 0;
        font-size: 16px;
        color: black;
        pointer-events: none;
        transition: 0.5s;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: -20px;
    left: 20;
    color: #7368f7d7;
    font-size: 12px;
}
.data{
  position: relative;
  top: -3px;
  width: 200px;
}
.input-group{
  padding: 0px 0px 0px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-group > input{
  
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
}

.progress {
  background-color: var(--cor5);
    width: 0%;
}

.progress-step {
  width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--cor5);
    color: white;
}

/* Form */
.form {
  background-color: white;
    width: 500px;
    margin:  0 auto;
    box-shadow: 0 15px 25px #2c267236;
    border-radius: 10px;
    padding: 20px;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 6px 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}


.acessar {
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  background: var(--cor5);
  box-shadow: 0px 0px 13px 1px var(--cor4);
}
.acessar:hover {
  background: white;
  color: var(--cor4);
  border-radius: 5px;
  box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9, 0 0 100px #8b80f9;
}
h1{
  position: relative;
  font-size: 22px;
  text-align: center;
}
.coluna{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: first baseline;
}
.estado{
  top: -20px;
}












.select {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 10px 0px 0px 0xp;
  border-radius: 5px;
  padding: 0 30px 0 15px;
  width: auto;
  background: var(--cor6);
  color: black;
}

.msg {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: #000000 1px 1px 1px 1px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  width: 400px;
  height: 100px;
}

.msg>p {
  font-size: 16px;
  position: relative;
  top: 10px;
}
.txtarea{
  width: 250%;
}
textarea{
  height: 150px;
}
.sobre{
  top: -30px;
}


/* estilo select */
.container{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.custom-select{
  position: relative;
  width: 450px;
}
.select-box{
  background-color: white;
  border: 1px solid var(--cor4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 10px;
  cursor: pointer;
  border-radius:  5px 5px 0px 0px;
}
.selected-options{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
.tag{
  background-color: #9799f5;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px 7px;
  display: flex;
  align-items: center;
}
.remove-tag{
  margin-left: 6px;
  cursor: pointer;
}
.arrow{
  margin: 0 10px;
}
.fa-angle-down{
  color: #404040;
  font-size: 30px;
}
.options{
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #4f8cc8;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  max-height: 225px;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0, 1);
}
.open .options{
  display: block;
}
.option-search-tags{
  background-color: white;
  border-bottom: 1px solid #4f8cc8;
  border-radius: 5px;
  padding: 8px;
  margin: 0px;
}
.search-tags{
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}
.clear{
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  color: #000000;
  top: 18px;
  left: auto;
  right: 15px;
}
.option{
  padding: 12px;
  cursor: pointer;
}
.option.active{
  color: #000000;
  background-color: #67baff;
  border-bottom: 1px solid #eaeaee;
}
.tag:hover,
.option:hover{
  background-color: #eaeaee;
}
.no-result-message{
  padding: 0px 0px 12px 12px;
}
.error{
  color: #ff1a2a;
  margin-top: 8px;
}

.group-select{
  margin-bottom: 30px;
}
.hab{
  top: -30px;
}
